<tui-root>
  <ma-ui-select
    [handlerSearch]="asyncSearch"
    [asyncSearch]="true"
  ></ma-ui-select>
  <ma-ui-select [items]="items"> </ma-ui-select>
</tui-root>

<ng-template #template>
  <div class="w-[100px] h-[100px]">
    <img
      src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExcmE3dDE0ZWZ2cDdscG12aG5qZTlodnQwM2Yyb2lqMXNnam1wcDgzaSZlcD12MV9naWZzX3RyZW5kaW5nJmN0PWc/o40LzduZIKSZ3qVNdc/giphy.webp"
      alt="zxc"
    />
  </div>
</ng-template>

<ng-template
  #templateWithType
  #template="polymorpheus"
  [polymorpheus]="context"
  let-item
>
  {{ item.toFixed(2) }}
  <div class="w-[100px] h-[100px]">
    <div class="w-[250px] h-[250px] bg-red-700"></div>
  </div>
</ng-template>
